/*
PALETA DE COLORES
 #D8DBE2; 
 #A9BCD0;
 #58A4B0;
 #373F51;
 #1B1B1E;
*/

body{
    background-color:#D8DBE2 ;
}

footer{
    background-color: #1B1B1E;
    color: #D8DBE2;
    width: 100%;
}

a:hover{
    color: #1B1B1E;
}

.h1_inicio{
    text-align: center;
}

.h2{
    text-align: center;
}

.form_registro{
    margin-right: 20px;   
}

.form_inicio{
    margin-left: 575px;
}

.formularios{
    margin-left: 585px;
}

.envios_reset{
    border-radius: 20px;
    padding: 6px;
}

.envios_reset:hover{
    background-color: #58A4B0;
    cursor: pointer;
}

textarea{
    padding: 7px;
    height: 80px;
}

b{
    margin-left: 495px;
}body{background-color: #B0E0E6  ;
-webkit-text-fill-color: #191970  ;}
h3{-webkit-text-fill-color: #4169E1 ;}